*~
#*
*#
.#*
.classpath
.project
.settings/
.springBeans
target/
_site/
.idea
*.iml
.factorypath

# token-report
token-report/**/__pycache__/
token-report/**/*.pyc
token-report/.pytest_cache/
token-report/build/
token-report/*.egg-info/
